hw/boards/ML605/ipcore_dir/
.vscode/

hw/boards/ML605/isim/
hw/boards/ML605/softMC_top_summary.html
hw/boards/ML605/iseconfig/
hw/boards/ML605/_xmsgs/pn_parser.xmsgs

hw/boards/ML605/SoftMC.gise
hw/boards/ML605/fuse.xmsgs
hw/boards/ML605/tb_softMC_top_beh.prj
hw/boards/ML605/xilinxsim.ini
hw/boards/ML605/fuseRelaunch.cmd
hw/boards/ML605/fuse.log
hw/boards/ML605/softMC.inc

hw/boards/ML605/tb_softMC_top_isim_beh.wdb
hw/boards/ML605/tb_softMC_top_isim_beh.exe
hw/boards/ML605/isim.log
hw/boards/ML605/isim.cmd

hw/boards/ML605/SoftMC.xise
hw/boards/ML605/SoftMC.xise
hw/boards/ML605/_xmsgs/xst.xmsgs
hw/boards/ML605/softMC_top.cmd_log
hw/boards/ML605/softMC_top.lso
hw/boards/ML605/softMC_top.ngc
hw/boards/ML605/softMC_top.ngr
hw/boards/ML605/softMC_top.prj
hw/boards/ML605/softMC_top.stx
hw/boards/ML605/softMC_top.syr
hw/boards/ML605/softMC_top.xst
hw/boards/ML605/softMC_top_xst.xrpt
hw/boards/ML605/webtalk_pn.xml
hw/boards/ML605/xst/work/work.sdbl
hw/boards/ML605/xst/work/work.sdbx
hw/boards/ML605/SoftMC.xise
hw/boards/ML605/SoftMC.xise
hw/boards/ML605/SoftMC.xise
hw/boards/ML605/_ngo/netlist.lst
hw/boards/ML605/_xmsgs/ngdbuild.xmsgs
hw/boards/ML605/softMC_top.bld
hw/boards/ML605/softMC_top_envsettings.html
hw/boards/ML605/softMC_top_ngdbuild.xrpt
hw/boards/ML605/xlnx_auto_0_xdb/cst.xbcd
hw/boards/ML605/webtalk_impact.xml
hw/boards/ML605/webtalk.log
hw/boards/ML605/usage_statistics_webtalk.html
hw/boards/ML605/softMC_top_usage.xml
hw/boards/ML605/softMC_top_summary.xml
hw/boards/ML605/softMC_top_preroute.twx
hw/boards/ML605/softMC_top_preroute.twr
hw/boards/ML605/softMC_top_par.xrpt
hw/boards/ML605/softMC_top_pad.txt
hw/boards/ML605/softMC_top_pad.csv
hw/boards/ML605/softMC_top_map_fpga_editor.log
hw/boards/ML605/softMC_top_map.xrpt
hw/boards/ML605/softMC_top_map.ngm
hw/boards/ML605/softMC_top_map.ncd
hw/boards/ML605/softMC_top_map.mrp
hw/boards/ML605/softMC_top_map.map
hw/boards/ML605/softMC_top_guide.ncd
hw/boards/ML605/softMC_top_bitgen.xwbt
hw/boards/ML605/softMC_top.twx
hw/boards/ML605/softMC_top.xpi
hw/boards/ML605/softMC_top.ut
hw/boards/ML605/softMC_top.unroutes
hw/boards/ML605/softMC_top.xdl
hw/boards/ML605/softMC_top.twr
hw/boards/ML605/softMC_top.ptwx
hw/boards/ML605/softMC_top.pcf
hw/boards/ML605/softMC_top.par
hw/boards/ML605/softMC_top.pad
hw/boards/ML605/softMC_top.ngd
hw/boards/ML605/softMC_top.ncd
hw/boards/ML605/softMC_top.drc
hw/boards/ML605/softMC_top.bit
hw/boards/ML605/softMC_top.bgn
hw/boards/ML605/planAhead.ngc2edif.log
hw/boards/ML605/planAhead_pid3350.debug
hw/boards/ML605/pa.fromNcd.tcl
hw/boards/ML605/output.txt
hw/boards/ML605/impact_impact.xwbt
hw/boards/ML605/impact.xsl
hw/boards/ML605/SoftMCoriginal.cfi
hw/boards/ML605/SoftMCoriginal.mcs
hw/boards/ML605/SoftMCoriginal.prm
hw/boards/ML605/Soft_MC.ipf
hw/boards/ML605/SoftMC_CLKreprogramming_stable1.cfi
hw/boards/ML605/SoftMC_CLKreprogramming_stable1.mcs
hw/boards/ML605/SoftMC_CLKreprogramming_stable1.prm
hw/boards/ML605/SoftMC-modified-04-02-22.cfi
hw/boards/ML605/SoftMC-modified-04-02-22.mcs
hw/boards/ML605/SoftMC-modified-04-02-22.prm
hw/boards/ML605/BPI.cfi
hw/boards/ML605/BPI.mcs
hw/boards/ML605/BPI.prm
hw/boards/ML605/_xmsgs/
hw/boards/ML605/planAhead_run_1/

hw/boards/ML605/softMC_top_2022-2-4-18-29-58.twx
hw/boards/ML605/softMC_top_2022-2-3-11-43-4.twx
hw/boards/ML605/mmcm_drp.cmd_log
hw/boards/ML605/mmcm_drp.tfi
hw/boards/ML605/softMC_top_2022-2-17-13-30-47.twx